PORT=5000
MONGO_URI=mongodb://usuario:senha@host1:27017,host2:27017,host3:27017/simplescapital?ssl=true&replicaSet=SEU_REPLICA_SET&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=simplescapital_chave_super_segura
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@simplescapital.com
ADMIN_PASSWORD=123456
